
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Next.js
/.next/
/out/

# Vercel
.vercel

# Production
/build

# Misc
.DS_Store
*.pem

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local Environment Variables
.env*.local
.env

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Debug
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cache
.npm
.eslintcache
.stylelintcache
.prettiercache

# Storybook
.storybook/storybook-static
.storybook/public

# Output of storybook build
storybook-static

# Jest
/coverage

# Cypress
/cypress/videos/
/cypress/screenshots/

# Playwright
/test-results/
/playwright-report/

# Nx
/dist
/tmp
/.nx/cache
